<%= simple_form_for(@nominee) do |f| %>

  <div class="field">
    <br><%= f.input :nominator_mail, label: 'My email is:', placeholder: 'Your email is for validation purpose only'%><br>
  </div>
  <div class="field">
    <%= f.input :name, label: 'I would like to nominate:', placeholder: 'Jane Doe'%><br>
  </div>
  <div class="field">
    <%= f.input :mail, as: :email, label: 'Her/His email is:', placeholder: 'janedoe@mail.com' %><br>
  </div>
  <div class="field">
    <%= f.input :cv, as: :text, label: 'Paste nominee\'s CV here:', placeholder: 'IMPORTANT: MAKE SURE TO USE A LEFT JUSTIFIED CV TO AVOID FORMATTING ISSUES.' %><br>
  </div>
  <div class="field">
  <%= f.input :statement, as: :text, label: 'Paste nominee\'s supporting statement here:', placeholder: 'Type here the statement of purpose for your nomination ' %><br><br>
  </div>
  <div class="myButton">
    <%= f.submit "Submit Nomination", :class => 'btn btn-primary btn-fill'%>
  </div>
<% end %>
