
<h2 id="title">Nominees</h2>
<div class="container-fluid" id="box">
  <div class="table-responsive">
    <table class="table table-hover" id="allNomTable">
        <thead>
          <tr>
            <th colspan="1">#</th>
            <th colspan="1">Nominator_Mail</th>
            <th colspan="1">Nominee_Mail</th>
            <th colspan="1">Nominee_Name</th>
            <th colspan="1">Documents</th>
            <th colspan="1">Com.Check</th>
            <th colspan="1">Com.Count</th>
            <th colspan="1">Chairman Check</th>
            <th colspan="1">Confirmed</th>
            <th colspan="1">Not Confirmed</th>
            <th colspan="1">Abstained</th>
          </tr>
        </thead>
        <tbody>
        <% @count = 0 %>
        <% @nominees = @nominees.order("committee_check_count DESC") %>
          <% @nominees.each do |nominee| %>
            <%= simple_form_for(nominee, :html => {:multipart => true, :class => '.form-inline'}) do |f| %>
              <tr>
                <% @count += 1 %>
                <td><%= @count %></td>
                <td><%= nominee.nominator_mail %></td>
                <td><%= nominee.mail %></td>
                <td><%= nominee.name %></td>
                <td class="td">
                    <!-- Button trigger modal -->
                   <a href="#myModal<%= nominee.id%>" role="button" class="center" data-toggle="modal">View Details</a>          <!-- Modal -->
                      <div class="modal fade" id="myModal<%= nominee.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h3 class="modal-title" id="myModalLabel">Details for:  <%= nominee.name %></h3>
                            </div><br>
                            <div class="container-fluid" align="justify">
                              <div class="row">
                                <div class="col-md-6">
                                  <p>
                                    <strong>Nominee Mail:</strong>
                                    <%= nominee.mail %>
                                  </p>
                                </div>
                              <br>  
                              </div>
                              <div class="row">  
                                <div class="col-md-12">
                                  <p><strong>Nominee Statement:</strong></p>
                                  <textarea id="statement" class="form-control" rows="5">
                                    <%= nominee.statement %>
                                  </textarea>
                                </div>
                              </div>  
                              <br>
                              <div class="row">  
                                <div class="col-md-12">
                                  <p><strong>Nominee Curriculum Vitae:</strong></p>
                                  <textarea id="cv" class="form-control" rows="20">
                                    <%= nominee.cv %>
                                  </textarea>
                                </div>
                              </div>
                              <br>
                            </div>
                          </div>
                        </div>
                      </div>
                </td>
                <!-- End of the modal-->
                <td><%= nominee.committee_check %></td>
                <td><%= nominee.committee_check_count %></td>
                <td><%= nominee.chairman_check %></td>
                <td><%= nominee.confirmed %></td>
                <td><%= nominee.not_confirmed %></td>
                <td><%= nominee.abstained %></td>
                <td><%= link_to 'Show', nominee %></td>
                <td><%= link_to 'Edit', edit_nominee_path(nominee) %></td>
                <td><%= link_to 'Destroy', nominee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br><br>
      <div class="center">
        <h4>To nominate someone please click the "New Nominee" button below </h4>
        <h4>and follow the instructions</h4>
        <%= link_to 'New Nominee', new_nominee_path, class: "btn btn-primary", style: "color: white;" %>
      </div>
    </div>
</div><br><br><br>
<div id="year">
  <p>_</p>
</div>

